@import "variables";

#profileBlock {
  background-color: $primary;
  color: $secondary;
}

#profileDescription {
  font-family: staraMedium, sans-serif;
  font-size: 2rem;
}

.skillItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $space-s;
  border: 1px solid $secondary;
  border-radius: $space-s;
  height: 160px;
}

#contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contactBlock {
  width: 50%;
  padding: $space-l;
  gap: $space-s;
  @include flex-center
}

.contactItem {
  padding: $space-m;
  border: 1px solid $secondary;
  border-radius: $space-s;
}